{% extends "base.html" %}
{% load static %}

{% block title %}
profile
{% endblock  %}


{% block link %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

{% endblock  %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Profile Form</h2>
                    </div>
                    <div class="card-body">
                        <form  method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="img">Upload Profile Picture</label>
                                <input type="file" class="form-control-file" id="img" name="img" accept="image/*" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone Number</label>
                                <input type="tel" class="form-control" id="phone" name="phone" required>
                                <small class="form-text text-muted">Format: 123-456-7890</small>
                            </div>
                            <button  type="submit" class="btn btn-primary btn-block">Save</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 

{% endblock  %}